html {
	font-size: 16px;
	font-family: "Railway", arial, sans-serif;
}

body {
  margin: 0;
  font: sans-serif;
}

.main-img {
	width: 100%;
	height: 100%;
}

.container {
  witdh: 80%;
  margin: 0 auto;
}

header {
  background: #F3DFBA;
  border-bottom: solid;
  border-color: #A0A0A0;
  border-width: 1.5px;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.nav-logo {
	float: left;
	padding: 10px 0;
	padding-left: 50px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-right: 80px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #6E6D6D;
}

nav a:hover {
	color: #444;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

#main-description {
	margin-left: 2em;
	margin-right: 2em;
}

#full-photo {
	margin-right: auto;
	margin-left: auto;
	display: block;
	width: 50%;
}

.AGAPEfullgroup-img {
	width: 700px;
	height: 550px;
}

/* SECTION FOR LEADERS/OFFICERS PAGE */

figure {
	display: inline-block;
}

.leader-img {
	width: 600px;
	height: 400px;
}

/*		SECTION FOR THE "CONTACT US" PAGE 			*/

form {
	margin-top: 3em;
	margin-left: 7em;
	margin-bottom: 3em;
	margin-right: 35em;
}

legend {
	font-size: 2.5em;
	margin-bottom: 0.75em;
}

#contact-description {
	margin-bottom: 20px;
	font-size: 1.1em;
	width: 100%;
}

/* Red asterisk to indicate required form */
.required {
	color: red;
	font-size: 0.75em;
}

input[type=text] {
	font-size: 1em;
	height: 2em;
	width: 100%;
	margin-bottom: 0.75em;
	box-sizing: border-box;
}

select {
	width: 10%;
	margin-bottom: 0.75em;
	padding: 0.25em;
}

#message-input {
	margin-bottom: 20px;
	font-size: 1em;
}

#submit-input {
	width: 10%;
}

