html {
	font-size: 16px;
}

body {
  margin: 0;
  font: sans-serif;
}

.main-img {
	width: 100%;
	height: 100%;
}

.container {
  witdh: 80%;
  margin: 0 auto;
}

header {
  background: #F3DFBA;
  border-bottom: solid;
  border-color: #A0A0A0;
  border-width: 1.5px;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.nav-logo {
	float: left;
	padding: 10px 0;
	padding-left: 50px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-right: 80px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
}

nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #6E6D6D;
}

nav a:hover {
	color: #444;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

.AGAPEfullgroup-img {
	width: 600px;
	height: 450px;
}

/* SECTION FOR LEADERS/OFFICERS PAGE */
.President-img {
	width: 600px;
	height: 400px;
}

.VP-img {
	width: 600px;
	height: 400px;
}

.Treasurer-img {
	width: 600px;
	height: 400px;
}

.Media1-img {
	width: 600px;
	height: 400px;
}

.Media2-img {
	width: 600px;
	height: 400px;
}

.Historian-img {
	width: 600px;
	height: 400px;
}

.Events1-img {
	width: 600px;
	height: 400px;
}

.Events2-img {
	width: 600px;
	height: 400px;
}

.Events3-img {
	width: 600px;
	height: 400px;
}

.Praise-img {
	width: 600px;
	height: 400px;
}


/*		SECTION FOR THE "CONTACT US" PAGE 			*/

/* "Contact Us" */
legend {
	margin-top: 10em;
	margin-left: 10em;
	margin-bottom: 10em;
}

.required {
	color: red;
	font-size: 10px
}

input[type=text] {
	/*padding: 12px 170px;*/
	padding: 1em 20em;
	margin-left: 50px;
	margin-bottom: 20px;
	text-align: center;
}

label {
	margin-left: 50px;
}

#message-input {
	/*width: 45%;*/
	margin-left: 50px;
	margin-bottom: 20px;
}

#submit-input {
	margin-left: 50px;
	width: 10em;
}